%h2 Add debt
.create-buttons
  = link_to "I must pay someone", create_transfer_path(:type => "send"), :class => "btn"
  = link_to "Someone must pay me", create_transfer_path(:type => "receive"), :class => "btn"

%p= "Balance: #{@balance.round(1)}"

%table.zebra-striped
  %tr
    %th Creditor
    %th Debtor
    %th Amount
    %th Message
    %th 
  - for transfer in @transfers
    %tr
      %td= transfer.creditor.name
      %td= transfer.debtor.name
      %td= transfer.amount
      %td= transfer.message
      - if transfer.creator_id == current_user.id
        %td= link_to 'Destroy', transfer, :confirm => 'Are you sure?', :method => :delete
      - else
        %td