%h1 New transaction

= form_for @transfer do |f|
  %table
    %tr
      %td Debtor
      %td Creditor
      %td Amount
      %td Message
    %tr
      = f.hidden_field :creditor_id
      
      %td= select("transfer", "debtor_id", User.where("users.id != ?", current_user.id).all.collect {|p| [ p.name, p.id ] })
      %td me
      %td= f.text_field :amount
      %td= f.text_field :message
  
  = f.submit "Submit"